/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/footer/footer.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
footer{height: 300px;}

.upper{width: 85vw; justify-content: space-between;}
.upper *{font-size: 0.9em;}
.upper .items a{margin: 0 15px 0 0;}
button{border: none; background: none; color: var(--light-gray); transition: .25s;}
button:hover{color: white; transition: .25s;}

hr{width: 85vw; color: var(--light-gray); margin: 10px 0;}

.bottom{width: 85vw; justify-content: space-between;}
.bottom p{margin-right: 15px; color: var(--light-gray); font-size: 0.9em; text-align: center;}

.icon{display: inline-block;}
.social-icons{margin: 5px;}
.social-icons .icon{margin: 2px; transition: .25s;}
.social-icons .icon:hover{scale: 1.1; transition: .25s;}



/*** RESPONSIVE ***/

@media screen and (max-width: 480px){
    .upper{flex-direction: column;}
    .bottom{justify-content: center !important;}
    .items{display: flex; flex-direction: column;}
    .items a{text-align: right; margin: 5px 15px !important;}
    button{display: flex; justify-content: flex-end; margin: 5px 15px;}
}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/navbar/navbar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
nav{
    width: 100vw; height: 70px;
    position: fixed; top: 0;
    justify-content: space-around !important;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.logo{
    width: 30px; height: 30px;
    display: block;
    background: url(/_next/static/media/logo-white.f6014185.svg) center/contain no-repeat;
}

.hamburger-menu{display: none; border: none; background: none;}
nav .items a{margin-inline: 15px;}



/*** RESPONSIVE ***/

@media screen and (max-width: 480px){
    .hamburger-menu{display: block;}
    nav .items{display: none;}
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/mainCarousel/mainCarousel.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.carousel-container{
    width: 100vw; height: calc(100vh - 70px);
    margin: 70px 0;
}

.carousel{
    width: calc(100vw - 50px); height: calc(100vh - 120px);
    background: url('/images/cover.jpg') center/cover no-repeat;
    border-radius: 10px;
}

.carousel h1{font-weight: normal;}
.carousel button{
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: var(--black);
    background: white;
    transition: .25s;
}
.carousel button:hover{scale: 1.1; transition: .25s;}
